@model dhamo.aleksander._5H.SecondaWeb.dto.RegistraDto

@{
    ViewData["Title"] = "Registrazione di un nuovo utente";
}


<link rel="stylesheet" href="/css/accediStyle.css" />

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/SitoTema/images/imgUtente.png" width="45%" id="icon" alt="User Icon" />
    </div>

    <br>
    <br> 

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a asp-area="" asp-controller="Account" asp-action="Registra" class="underlineHover">Crea account</a>
    </div>

  </div>
</div>



