@model dhamo.aleksander._5H.SecondaWeb.dto.RegistraDto

@{
    ViewData["Title"] = "Accedi";
 }

<link rel="stylesheet" href="/css/accediStyle.css" />

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/SitoTema/images/imgUtente.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="post" asp-controller="Account" asp-action="Registra">

      <div asp-validation-summary="All" class="text-danger"></div>
      
      <input asp-for="Email" type="text" class="form-control" placeholder="email">

      <input asp-for="Password" type="password" class="form-control" placeholder="password">

      <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="confirm password">

      <input type="submit" class="fadeIn fourth" value="Registrati">

    </form>

    <!-- Crea account -->
    <div id="formFooter">
      <a asp-area="" asp-controller="Account" asp-action="Accedi" class="underlineHover">Se hai già un account clicca qui</a>
    </div>

  </div>
</div>



